@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>


@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    ViewData["Title"] = "Application Roles";

}

<h1 class="row justify-content-center">Добавление Ролей</h1>
<p>
    <a asp-action="Create">Добавить роль</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model=>model.Name)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>@Html.DisplayFor(modelItem => item.Name)</th>
            </tr>
        }
    </tbody>
</table>